extends layout

block content
  .row
    .col-md-6
      h1 Add a movie
      form(role="form", method="post", action="/movies/")
        include editform
        button.btn.btn-primary(type="submit") Submit