.form-group
  label(for="title") Title
  input#title.form-control(name="title", type="text", value=movie.title)
.form-group
  label(for="rank") Rank
  input#rank.form-control(name="rank", type="text", value=movie.rank)
.form-group
  label(for="rating") Rating
  input#rating.form-control(name="rating", type="text", value=movie.rating)
.form-group
  label(for="views") No. of Views
  input#views.form-control(name="views", type="views", value=movie.views)